<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 > LISTE DES CLASSROOMS </h1>
<table border="2">
    <tr>
        <th> IDENTIFIANT</th>
        <th> Nom de la classe</th>
        <th> Supprimer cette classe</th>
        <th> Modifier cette classe</th>

    </tr>

        {% for c in classrooms %}
    <tr>
        <td> {{ c.id }}</td>
        <td> {{ c.nom }}</td>
        <td>
            <a href="{{ path ('delete',{id : c.id }) }}"> Supprimer </a>
        </td>
        <td>
            <a href="{{ path ('update',{id : c.id }) }}"> Modifier </a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>